.tq_partners {
    padding: 250px 0 80px 0;
}

.tq_partners_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_partners_title h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_partners_sub_title {
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_partners_sub_title span {
    color: #6b54b6;
}

.tq_partners_body {
    padding-top: 50px;
}

.tq_partner {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #21144820;
    text-align: center;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    margin-bottom: 24px;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
}

.tq_partner::before,
.tq_partner::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #251444;
    transition: all .4s;
}

.tq_partner::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_partner::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_partner:hover {
    transform: translateY(-10px);
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 16px 100%, 0 calc(100% - 16px));
}

.tq_partner:hover::after {
    border-top: 0;
}

.tq_partner:hover::before {
    border-bottom: 0;
}

.tq_partner img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
}

@media(max-width:1024px) {
    .tq_partners_title h1 {
        font-size: 58px;
    }
    .tq_partners_sub_title {
        bottom: -5px;
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .tq_partners {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_partners_title {
        padding-left: 30px;
    }
    .tq_partners_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_partners_title h1 {
        font-size: 42px;
    }
    .tq_partners_sub_title {
        letter-spacing: .15em;
        font-size: 9px;
        bottom: -6px;
    }
}