.tq_features {
    padding: 140px 0 80px 0;
}

.tq_features_title {
    padding: 0 45px 0 0;
    overflow: hidden;
    position: relative;
}

.tq_features_title h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-align: right;
}

.tq_features_sub_title {
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(100%)!important;
    transform-origin: right center;
}

.tq_features_sub_title span {
    color: #6b54b6;
}

.tq_features_body {
    padding-top: 20px;
    font-size: 18px;
    text-align: justify;
}

@media(max-width:1024px) {
    .tq_features_title h1 {
        font-size: 58px;
    }
    .tq_features_sub_title {
        bottom: -4px;
        letter-spacing: .2em;
        font-size: 12px;
    }
}

@media(max-width:992px) {
    .tq_features {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_features_title {
        padding-right: 30px;
    }
    .tq_features_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_features_title h1 {
        font-size: 42px;
    }
    .tq_features_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}