.tq_about_us {
    padding: 120px 0 80px 0;
}

.tq_about_us_title {
    padding: 0 0 0 45px;
    overflow: hidden;
    position: relative;
}

.tq_about_us_title h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.tq_about_us_sub_title {
    position: absolute;
    bottom: 4px;
    left: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(0)!important;
    transform-origin: left center;
}

.tq_about_us_sub_title span {
    color: #6b54b6;
}

.tq_about_us_body {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

@media(max-width:1024px) {
    .tq_about_us_title h1 {
        font-size: 58px;
    }
    .tq_about_us_sub_title {
        letter-spacing: .1em;
        font-size: 12px;
        bottom: -8px;
    }
}

@media(max-width:992px) {
    .tq_about_us {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_about_us_title {
        padding-left: 30px;
    }
    .tq_about_us_sub_title {
        left: 12px;
        bottom: 0;
    }
    .tq_about_us_title h1 {
        font-size: 42px;
    }
    .tq_about_us_sub_title {
        letter-spacing: .1em;
        font-size: 9px;
        bottom: -8px;
    }
}