.tq_teams {
    padding: 250px 0 80px 0;
}

.tq_teams_title {
    padding: 0 45px 0 0;
    overflow: hidden;
    position: relative;
}

.tq_teams_title h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-align: right;
}

.tq_teams_sub_title {
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    transform: rotate( -90deg) translateX(100%)!important;
    transform-origin: right center;
}

.tq_teams_sub_title span {
    color: #6b54b6;
}

.tq_teams_body {
    padding-top: 80px;
}

.tq_team {
    display: block;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    margin-bottom: 24px;
}

.tq_team_inner {
    padding: 28px;
    box-sizing: border-box;
    background-color: #21144820;
    text-align: center;
    transition: .3s cubic-bezier(.21, .04, 0, 1.07);
    position: relative;
    /* clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px); */
}

.tq_team_inner::before,
.tq_team_inner::after {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    width: 45px;
    border: 2px solid #251444;
    transition: all .4s;
}

.tq_team_inner::before {
    left: 0;
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.tq_team_inner::after {
    right: 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.tq_team:hover .tq_team_inner::after {
    border-top: 0;
}

.tq_team:hover .tq_team_inner::before {
    border-bottom: 0;
}

.tq_team:hover .tq_team_inner {
    clip-path: polygon(0 0, calc(100% - 24px) 0, 100% 24px, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    transform: translateY(-10px);
}

.tq_team_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 245px; */
    margin: 0;
    margin-bottom: 24px;
    overflow: hidden;
    clip-path: polygon(0 0, calc(100% - 18px) 0, 100% 18px, 100% 100%, 18px 100%, 0 calc(100% - 18px));
}

.tq_team_avatar img {
    height: auto;
    max-width: 100%;
}

.tq_team_name {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 6px;
}

.tq_team_title {
    color: #6b54b6;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43em;
    letter-spacing: .1em;
    font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
    transition: color ease-in-out .3s;
}

.tq_team:hover .tq_team_title {
    color: #ff3549;
}

.tq_team_socials {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: none;
}

.tq_team_socials a {
    color: #fff;
    font-size: 24px;
    opacity: .7;
    transform-origin: center center;
    transition: all ease-in-out .3s;
}

.tq_team:hover .tq_team_socials a {
    transform: scale(1.1);
}

.tq_team_socials a:hover {
    opacity: 1;
}

@media(max-width:1200px) {
    .tq_teams {
        padding: 100px 0 80px 0;
    }
}

@media(max-width:1024px) {
    .tq_teams_title h1 {
        font-size: 58px;
    }
    .tq_teams_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 11px;
    }
}

@media(max-width:992px) {
    .tq_teams {
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .tq_teams_title {
        padding-right: 30px;
    }
    .tq_teams_sub_title {
        right: 12px;
        bottom: 0;
    }
    .tq_teams_title h1 {
        font-size: 42px;
    }
    .tq_teams_sub_title {
        bottom: -5px;
        letter-spacing: .1em;
        font-size: 8px;
    }
}