.dashboard-card {
    padding-left: 70px;
    padding-right: 20px;
}

.dashboard-card-title {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fcfc92;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(../images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
}

.dashboard-card-title span {
    /* color: #fff;
    background-image: url(../images/text-style1-bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.dashboard-card-body {
    min-height: 140px;
    padding: 16px 14px 14px 42px;
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 52%);
    position: relative;
}

.dashboard-main-card .dashboard-card-body {
    background-image: url(../images/bg-notice-nner.png);
    background-size: cover;
    background-position: top center;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 90%);
    border-width: 3px;
    border-color: #ac8b4b;
}

.dashboard-main-card .dashboard-card-body::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    box-shadow: inset 0 0 12px rgba(255, 255, 255, .6);
    border-radius: 8px;
}

.dashboard-card-tabs {
    position: absolute;
    top: 10px;
    left: -70px;
    z-index: 2;
}

.dashboard-card-tabs ul {
    list-style: none;
    padding-left: 0;
}

.dashboard-card-tabs ul li {
    margin-bottom: 2px;
    position: relative;
}


/* .dashboard-card-tabs-space-2 ul li {
    margin-bottom: 8px;
} */

.dashboard-card-tabs ul li::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/tab-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all ease-in-out .3s;
}

.dashboard-card-tabs ul li:hover:before,
.dashboard-card-tabs ul li.active::before {
    background-image: url(../images/tab-active-bg.png);
}

.dashboard-card-tabs ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    padding-bottom: 5px;
}

.dashboard-card-tab-content {
    max-height: 345px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.dashboard-card-statistics-title {
    margin-bottom: 10px;
    position: relative;
}

.dashboard-card-statistics-title span {
    font-weight: bold;
    color: #fff;
    position: relative;
    font-size: 18px;
    letter-spacing: -1px;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.dashboard-card-statistics-title::before {
    background-image: url(../images/title-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    width: 100%;
    height: 120%;
    top: -2px;
    left: -10px;
    position: absolute;
}

.dashboard-card-statistics-value {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.dashboard-card-statistics-value span {
    font-size: 18px;
    opacity: .8;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: none
}

.tkg-dashboard-welcome-flag {
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.tkg-dashboard-welcome-flag img {
    max-width: 90%;
}

.tkg-dashboard-welcome-text {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.tkg-dashboard-welcome-text span {
    padding-left: 22px;
    margin-bottom: 10px;
    display: block;
    color: #dab507;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.recently-item {
    gap: 6px;
    padding: 5px;
    border: 1px #382416 solid;
    border-radius: 12px;
    background-image: url(../images/recent-item-bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    position: relative;
    min-height: 70px;
    margin-bottom: 15px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.recently-item:hover {
    border-color: #dab507;
    box-shadow: 1px 2px 8px #dab30746;
}

.recently-item-avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
    padding: 5px;
    border-radius: 10px;
}

.recently-item-avatar img {
    max-height: 100%;
}

.recently-item-wrap {
    width: calc(100% - 65px);
}

.recently-item-info {
    position: relative;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.recently-item-icon {
    z-index: 1;
    position: absolute;
    height: 30px;
    top: -1px;
    left: 2px;
}

.recently-item-name {
    position: relative;
    height: 24px;
    background-size: 100% 100%;
    background-position: center left;
    display: flex;
    align-items: center;
    padding: 0 20px 0 30px;
    color: #fff;
}

.recently-item-price {
    margin-top: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
}

.recently-item-id {
    width: 60px;
    text-align: center;
    background-color: #8c6b1f;
    border-radius: 5px;
    font-size: 10px;
    margin-right: 5px;
}

.recently-item-price-value {
    color: #dab507;
}

.recently-item-more {
    margin-top: 10px;
    color: #fff;
    padding-left: 8px;
    font-size: 12px;
    line-height: 1;
}

.recently-item-more small,
.recently-item-more span {
    display: block;
}

.recently-item-more small {
    text-transform: uppercase;
    font-size: 8px;
    opacity: .7;
    margin-bottom: 3px;
}

.recently-item-more span {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recently-item-price {
    margin-top: 4px;
    padding: 3px 8px 1px 0;
    background-image: url(../images/menu-break-line.png);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top left;
}

.recently-item-time {
    font-size: 9px;
    opacity: .6;
}

@media(min-width:1280px) and (max-width:1700px) {
    .tkg-dashboard-welcome-flag {
        display: block;
    }
    .tkg-dashboard-container {
        position: relative;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media(max-width:1024px) {
    .dashboard-card-statistics-value {
        font-size: 20px;
        flex-wrap: wrap;
        gap: 5px;
    }
    .dashboard-card-statistics-value span {
        font-size: 15px;
        margin-bottom: 2px;
        padding-left: 10px;
        display: block;
        margin-top: -5px;
    }
    .dashboard-card-statistics-value img {
        height: 30px;
    }
}

@media(max-width:767px) {
    .dashboard-card {
        padding-left: 50px;
    }
    .dashboard-card-body {
        padding-left: 30px;
    }
    .dashboard-card-tabs {
        left: -50px;
    }
    .dashboard-card-tabs ul li a {
        padding-left: 10px;
        padding-right: 15px;
        height: 30px;
        font-size: 12px;
    }
    .dashboard-card-title {
        background-size: 70% auto;
    }
    .dashboard-card-title img {
        transform: scale(.8);
        transform-origin: bottom center;
    }
    .dashboard-card-statistics {
        margin-bottom: 1rem !important;
    }
    .dashboard-card-statistics-title {
        margin-bottom: 5px;
    }
    .dashboard-card-statistics-title span {
        font-size: 14px;
    }
    .dashboard-card-statistics-value {
        font-size: 16px;
        gap: 5px;
    }
    .dashboard-card-statistics-value img {
        height: 20px;
    }
    .dashboard-card-statistics-value span {
        font-size: 12px;
        padding-left: 5px;
    }
}