.market-card {
    padding: 0 20px;
}

.market-card-title {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fcfc92;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(../images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
    position: relative;
}

.market-card-result {
    position: absolute;
    left: 0;
    bottom: 6px;
    font-size: 20px;
}

.market-card-order {
    position: absolute;
    right: 0;
    bottom: 6px;
}

.market-card-order .btn {
    min-width: 200px;
    outline: none !important;
    box-shadow: none !important;
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(12 45 39 / 77%);
    position: relative;
    padding-right: 30px;
}

.market-card-order .btn::after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.market-card-order .dropdown-menu {
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(12 45 39 / 77%);
}

.market-card-order .dropdown-menu .dropdown-item {
    color: #fff;
    text-decoration: none !important;
    background-color: transparent !important;
}

.market-card-order .dropdown-menu .dropdown-item:hover {
    background-color: #f5d00320 !important;
}

.market-card-order .dropdown-menu .dropdown-item.selected {
    background-color: #f5d003 !important;
}

.market-card-body {
    padding: 16px 14px;
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 52%);
    position: relative;
}

.market-card-tab-content {
    padding-right: 10px;
}

.market-item {
    gap: 6px;
    padding: 8px;
    border: 1px #382416 solid;
    border-radius: 12px;
    background-image: url(../images/recent-item-bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    position: relative;
    min-height: 70px;
    margin-bottom: 15px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.market-item-avatar {
    width: 70px;
    height: 70px;
    background-size: cover;
    padding: 5px;
    border-radius: 10px;
}

.market-item-avatar img {
    max-height: 100%;
}

.market-item-wrap {
    width: calc(100% - 75px);
}

.market-item-info {
    position: relative;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.market-item-icon {
    z-index: 1;
    position: absolute;
    height: 33px;
    top: -1px;
    left: 4px;
}

.market-item-name {
    position: relative;
    height: 30px;
    background-size: 100% 100%;
    background-position: center left;
    display: flex;
    align-items: center;
    padding: 0 20px 0 35px;
    color: #fff;
}

.market-item-price {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
    margin-top: 8px;
    padding-top: 5px;
    background-image: url(../images/menu-break-line.png);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top left;
}

.market-item-price-value {
    color: #dab507;
}

.market-item-id {
    width: 70px;
    text-align: center;
    background-color: #8c6b1f;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}

.market-item-more {
    margin-top: 8px;
    color: #fff;
    padding-left: 8px;
    font-size: 16px;
    line-height: 1;
}

.market-item-more small,
.market-item-more span {
    display: block;
}

.market-item-more small {
    text-transform: uppercase;
    font-size: 10px;
    opacity: .7;
    margin-bottom: 4px;
}

.market-item-more span {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.market-item-time {
    font-size: 12px;
    opacity: .6;
    font-weight: 300;
}

.market-category a {
    display: block;
    position: relative;
}

.market-category a.active::after {
    width: 20px;
    height: 19px;
    content: '';
    background-image: url(../images/icon-active.png);
    background-size: cover;
    position: absolute;
    bottom: -8px;
    right: 0px;
}

.market-category a img {
    transition: all ease-in-out .3s;
    opacity: .9;
}

.market-category a.active img,
.market-category a:hover img {
    -webkit-filter: drop-shadow(2px 2px 3px rgba(255, 230, 0, 1));
    filter: drop-shadow(2px 2px 3px rgba(255, 230, 0, 1));
    opacity: 1;
}

.market-filter-block {
    margin-bottom: 10px;
    padding-top: 20px;
    background-image: url(../images/menu-break-line.png);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top left;
}

.market-card-tab-content .market-filter-block:first-child {
    background-image: none;
    padding-top: 0;
}

.market-filter-title {
    margin-bottom: 10px;
    position: relative;
}

.market-filter-title span {
    font-weight: bold;
    color: #fff;
    position: relative;
    font-size: 18px;
    letter-spacing: -1px;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.market-filter-title::before {
    background-image: url(../images/title-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    width: 100%;
    height: 120%;
    top: -2px;
    left: -10px;
    position: absolute;
}

.market-filter-content .form-check-inline {
    margin-bottom: 5px;
    margin-right: 0;
    display: flex;
    align-items: center;
    padding-right: 20px;
    min-width: 50%;
    font-size: 14px;
}

.market-filter-content .form-check-inline .form-check-input {
    margin-left: -1.5em;
    margin-bottom: 3px;
    margin-right: 3px;
    border-radius: 50%;
    outline: none !important;
    box-shadow: none !important;
    border-width: 2px;
    border-color: transparent !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.market-filter-content .form-check-input:checked {
    background-color: red;
    border-color: #fff !important;
    background-image: none;
}

@media(min-width:1200px) {
    .market-card-tab-content {
        padding-right: 10px;
        max-height: calc(100vh - 240px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .market-category {
        position: relative;
    }
    /* .market-category::before {
        background-image: url(../images/left-bg.png);
        background-size: 100% auto;
        background-position: top center;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        right: -20px;
        top: 30px;
        width: 110px;
        height: 410px;
    } */
}

@media(max-width:1200px) {
    .market-card-tab-content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .market-filter-block {
        background-image: none;
        padding-top: 0;
        flex: 1;
        margin-bottom: 20px;
    }
    .market-filter-content {
        padding: 10px;
        background-color: rgba(0, 0, 0, .2);
        height: calc(100% - 20px);
        align-items: flex-start;
    }
    .market-filter-content .form-check-inline {
        min-width: auto;
        margin-right: 0;
    }
    .market-filter-content .form-check-inline .form-check-label img {
        height: 30px;
    }
}

@media(max-width:1024px) {
    .market-filter-block {
        width: 30%;
        flex: auto;
    }
}

@media(max-width:576px) {
    .market-card,
    .market-card-tab-content {
        padding: 0;
    }
    .market-card-result {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 16px;
    }
    .market-card-order {
        position: relative;
        right: 0;
        bottom: 0;
        margin-bottom: 10px;
    }
    .market-filter-content .form-check-inline {
        padding-right: 0;
    }
    .market-filter-block {
        margin-bottom: 10px;
    }
    .w-100-mb {
        width: 100%;
    }
    .w-100-mb .market-filter-content {
        height: auto !important;
    }
}