body {
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}


/* body::before {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
} */


/* LOADING */

.tkg-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 9999;
}

.tkg-loading-wrap {
    position: relative;
    width: 350px;
    height: 27px;
    background-image: url(../images/loading-bg.png);
    background-size: cover;
}

.tkg-loading-wrap::before,
.tkg-loading-wrap::after {
    position: absolute;
    top: -2px;
    content: '';
    background-size: cover;
    z-index: 2;
}

.tkg-loading-wrap::before {
    background-image: url(../images/loading-arrow-left.png);
    left: -16px;
    width: 31px;
    height: 30px;
}

.tkg-loading-wrap::after {
    background-image: url(../images/loading-arrow-right.png);
    right: -14px;
    width: 31px;
    height: 30px;
    z-index: 1;
}

.tkg-loading-percent {
    position: absolute;
    background-image: url(../images/loading-percent.png);
    background-size: cover;
    top: 8px;
    left: 4px;
    width: 100%;
    height: 10px;
    transition: width ease-in-out .3s;
    animation-name: loading;
    animation-duration: 3s;
    z-index: 1;
}

@keyframes loading {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

.tkg-loading-percent::after {
    position: absolute;
    content: '';
    top: 0;
}

.tkg-loading-percent::after {
    background-image: url(../images/loading-effect.png);
    background-size: cover;
    right: -6px;
    width: 60px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.tkg-loading-text {
    position: absolute;
    top: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}


/* WELCOME */

.tkg-welcome {
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

@keyframes welcome {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.tkg-welcome-img {
    width: 600px;
    max-width: 80%;
}

.tkg-welcome-actions {}

.tkg-button {
    border: 0;
    outline: none;
    background-color: transparent;
    background-image: url(../images/button-bg.png);
    background-size: 100% 100%;
    color: #fff;
    padding: 15px 40px 25px 25px;
    transition: opacity ease-in-out .3s;
}

.tkg-button:hover {
    opacity: .8;
}


/* NAVBAR */

.tkg-navbar {
    background-color: transparent;
}

.tkg-logo {
    max-height: 92px;
}

.tkg-navbar-nav {
    align-items: flex-end;
}

.tkg-navbar-nav .nav-item .nav-link {
    padding: 0 10px !important;
    position: relative;
}

.tkg-navbar-nav .nav-item .nav-link img {
    max-height: 65px;
    transition: all ease-in-out .3s;
    opacity: .9;
    transform-origin: center;
}

.tkg-navbar-nav .nav-item .nav-link:not(.tkg-account).active img,
.tkg-navbar-nav .nav-item .nav-link:not(.tkg-account):hover img {
    -webkit-filter: drop-shadow(2px 2px 5px rgba(255, 230, 0, 1));
    filter: drop-shadow(2px 2px 5px rgba(255, 230, 0, 1));
}

.tkg-navbar-nav .nav-item .nav-link.active img,
.tkg-navbar-nav .nav-item .nav-link:hover img {
    opacity: 1;
    transform: scale(1.05);
}

.tkg-navbar-nav .nav-item .nav-link.active::after {
    width: 20px;
    height: 19px;
    content: '';
    background-image: url(../images/icon-active.png);
    background-size: cover;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.tkg-navbar-nav .nav-item .nav-link.tkg-account {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tkg-navbar-nav .nav-item .nav-link.tkg-account img {
    max-height: 90px;
}

.tkg-balance {
    position: relative;
    height: 56px;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-image: url(../images/el-outline-bg.png);
    font-weight: bold;
    color: #ffd000;
    white-space: nowrap;
}

.tkg-balance img {
    width: 70px;
    position: absolute;
    left: -42px;
    top: -8px;
}

.tkg-balance::before,
.tkg-balance::after {
    position: absolute;
    content: '';
    top: 0;
    background-size: cover;
    width: 32px;
    height: 100%;
}

.tkg-balance::before {
    left: -32px;
    background-image: url(../images/el-outline-left-bg.png);
}

.tkg-balance::after {
    right: -32px;
    background-image: url(../images/el-outline-right-bg.png);
}

.tkg-main {
    padding-top: 90px;
}

.tgk-modal {}

.tgk-modal .modal-content {
    background-color: transparent;
    border: 0;
}

.tgk-modal .modal-header {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fcfc92;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(../images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
    border: 0;
    justify-content: center;
}

.tgk-modal .modal-body {
    padding: 40px;
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(12 45 39 / 77%);
    position: relative;
    min-height: 50vh;
    color: #fff;
    font-weight: 500;
    line-height: 1.8;
}

.modal-backdrop.show {
    opacity: .8;
}

.market-filter-ranger .ui-slider-range,
.market-filter-ranger .ui-slider-handle {
    background-color: #971b1d !important;
}

.market-filter-ranger .ui-slider-handle {
    outline: none !important;
    border-radius: 50%;
    border: 2px #fff solid !important;
    box-shadow: 1px 2px 5px #000;
}

.market-filter-ranger {
    font-size: 13px;
    font-weight: 500;
}

.btn-back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    padding-bottom: 5px;
    transition: all ease-in-out .3s;
}

.btn-back::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/back-icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all ease-in-out .3s;
}

.btn-back:hover {
    transform-origin: center center;
    transform: scale(1.2);
}

.btn-back:hover:before {
    background-image: url(../images/back-icon-hover.png);
}

.tkg-button-v2 {
    width: 100%;
    padding: 0;
    line-height: 50px;
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    border: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(../images/btn-center-bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    transition: all ease-in-out .3s;
    border-radius: 20px;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.tkg-button-v2::before,
.tkg-button-v2::after {
    position: absolute;
    content: '';
    top: 0;
    background-size: cover;
    width: 24px;
    height: 100%;
    transition: all ease-in-out .3s;
}

.tkg-button-v2::before {
    left: -5px;
    background-image: url(../images/btn-left-bg.png);
}

.tkg-button-v2::after {
    right: -5px;
    background-image: url(../images/btn-right-bg.png);
}

.tkg-button-v2:hover {
    background-image: url(../images/btn-hover-center-bg.png);
}

.tkg-button-v2:hover::before {
    background-image: url(../images/btn-hover-left-bg.png);
}

.tkg-button-v2:hover::after {
    background-image: url(../images/btn-hover-right-bg.png);
}

.detail-item-slide-controls {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-back-slide,
.btn-next-slide {
    position: relative;
    width: 50px;
    height: 53px;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

.btn-back-slide.disabled,
.btn-next-slide.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.btn-back-slide::before,
.btn-next-slide::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all ease-in-out .3s;
}

.btn-back-slide::before {
    background-image: url(../images/btn-back-slide.png);
}

.btn-back-slide:not(.disabled):hover:before {
    background-image: url(../images/btn-back-slide-hover.png);
}

.btn-next-slide::before {
    background-image: url(../images/btn-next-slide.png);
}

.btn-next-slide:not(.disabled):hover:before {
    background-image: url(../images/btn-next-slide-hover.png);
}

@media(min-width:1200px) {
    .tkg-logo {
        max-height: 110px;
        margin-top: -10px;
        margin-bottom: -20px;
    }
}

@media(max-width:1024px) {
    .tkg-navbar {
        background: rgb(12 45 39 / 77%);
    }
}

@media(max-width:992px) {
    .tgk-modal .modal-body>img {
        display: none;
    }
    .tkg-loading-wrap {
        transform: scale(0.8);
    }
    .tkg-navbar-nav {
        flex-direction: row;
        margin-top: 0;
    }
    .tkg-logo {
        max-height: 60px;
    }
    .tkg-balance img {
        width: 50px;
        top: -3px;
    }
    .tkg-balance {
        height: 46px;
        margin-left: 50px !important;
        margin-right: 26px;
        padding-left: 10px;
        font-size: 14px;
    }
    .tkg-balance::before,
    .tkg-balance::after {
        width: 26px;
    }
    .tkg-balance::before {
        left: -26px;
    }
    .tkg-balance::after {
        right: -25px;
    }
    .tkg-navbar-nav .nav-item .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .tkg-navbar-nav .nav-item .nav-link img {
        max-height: 50px;
    }
    .tkg-balance {
        margin-bottom: 5px;
        transform-origin: top;
    }
    .tkg-navbar-nav {
        transform: scale(.8);
    }
    .tkg-navbar-nav .nav-item .nav-link.tkg-account img {
        max-height: 65px;
        margin-bottom: 8px;
    }
    .tkg-navbar {
        height: 76px;
    }
    .btn-back-slide,
    .btn-next-slide {
        width: 38px;
        height: 40px;
    }
    .detail-item-slide-controls {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:767px) {
    body {
        background-position: top right -450px;
    }
    .tkg-main {
        padding-top: 80px;
    }
    .tkg-navbar-nav {
        transform: scale(1);
    }
    .tkg-navbar-collapse {
        background-color: rgb(16 48 39 / 80%);
        border-radius: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2px #88701d solid;
        box-shadow: 5px 0 24px #103027;
        width: 100%;
    }
    .tkg-navbar-toggler {
        outline: none !important;
        box-shadow: none !important;
        width: 48px;
        height: 43px;
        padding: 0 !important;
        border: 0;
        position: relative;
    }
    .tkg-navbar-toggler::before,
    .tkg-navbar-toggler::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-size: cover;
        transition: all ease-in-out .3s;
    }
    .tkg-navbar-toggler::before {
        background-image: url(../images/icon-toggler.png);
    }
    .tkg-navbar-toggler::after {
        background-image: url(../images/icon-toggler-collapse.png);
        opacity: 0;
    }
    .tkg-navbar-toggler[aria-expanded="true"]::before {
        opacity: 0;
    }
    .tkg-navbar-toggler[aria-expanded="true"]::after {
        opacity: 1;
    }
    .tkg-navbar-nav-auth {
        position: relative;
        padding-top: 5px;
    }
    .tkg-navbar-nav-auth::before {
        content: '';
        top: -8px;
        left: 0;
        width: 100%;
        height: 10px;
        background-image: url(../images/menu-break-line.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
    }
    .tkg-brand.navbar-brand {
        margin-top: -5px;
    }
    .detail-item-slide-controls {
        top: 55%;
    }
}

.flex-1 {
    flex: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.tkg-connect-wallet-method {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 16px;
    padding-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    white-space: nowrap;
    transition: all ease-in-out .3s;
}

.tkg-connect-wallet-method:last-child {
    margin-bottom: 0;
}

.tkg-connect-wallet-method:hover {
    color: #ffd000;
}

.tkg-connect-wallet-method img {
    margin-right: 10px !important;
    width: 42px !important;
    height: 42px !important;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}