body {
    background-image: url(../images/bg-notice-nner.png);
}

.detail-card {
    padding-left: 60px;
}

.detail-card-title {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fcfc92;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(../images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
}

.detail-card-tabs {
    position: relative;
    display: flex;
    z-index: 2;
    padding: 0 10px;
}

.detail-card-tabs a {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    position: relative;
    line-height: 1;
    white-space: nowrap;
    margin-left: -5px;
}

.detail-card-tabs a::before {
    background-image: url(../images/detail-tab-bg.png);
    background-size: 100% auto;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in-out .3s;
    z-index: -1;
}

.detail-card-tabs a:hover::before {
    background-image: url(../images/detail-tab-hover-bg.png);
}

.detail-card-tabs a.active::before {
    background-image: url(../images/detail-tab-active-bg.png);
    background-size: 100% 100%;
    height: calc(100% + 15px);
    top: -8px;
}

.detail-card-body {
    z-index: 1;
    min-height: 140px;
    padding: 16px 20px;
    border: 2px #bd9b6c solid;
    border-radius: 12px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 52%);
    position: relative;
}

.detail-info-block {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.detail-info-title {
    margin-bottom: 10px;
    position: relative;
}

.detail-info-title span {
    font-weight: bold;
    color: #fff;
    position: relative;
    font-size: 18px;
    letter-spacing: -1px;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.detail-info-title::before {
    background-image: url(../images/title-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: '';
    width: 100%;
    height: 120%;
    top: -2px;
    left: -10px;
    position: absolute;
}

.detail-info-content h5 {
    font-size: 18px !important;
}

.detail-info-content h6 {
    font-size: 15px !important;
}

.detail-item-center {
    position: relative;
}

.detail-item-qg {
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 2;
}

.detail-item-cm {
    position: absolute;
    top: calc(20% + 80px);
    left: 5%;
    z-index: 2;
}

.detail-item-cm span {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-left: 3rem;
    background-image: url(../images/icon-cm.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center left;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.detail-item-lc {
    position: absolute;
    top: calc(20% + 124px);
    left: 5%;
    z-index: 2;
}

.detail-item-lc span {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-left: 3rem;
    background-image: url(../images/icon-lc.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center left;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.detail-item-info {
    position: relative;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.detail-item-icon {
    z-index: 1;
    position: absolute;
    height: 60px;
    top: -6px;
    left: 0;
}

.detail-item-name {
    margin-left: 30px;
    position: relative;
    height: 46px;
    background-size: 100% 100%;
    background-position: center left;
    display: flex;
    align-items: center;
    padding: 0 60px 0 35px;
    color: #fff;
    font-size: 24px;
}

.detail-item-id {
    min-width: 200px;
}

.detail-item-id span {
    display: block;
    font-weight: bold;
    color: #dab507;
    font-size: 16px;
    padding: 6px 20px;
    border: 1px #bd9b6c solid;
    border-radius: 8px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: rgb(0 0 0 / 52%);
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.detail-item-price {
    font-size: 28px;
    color: #dab507;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
}

.detail-card-ttt {
    margin-right: -30px;
}

.detail-item-creator {
    position: absolute;
    /* bottom: 50px; */
    right: 20px;
    /* border: 2px #bd9b6c solid; */
    color: #fff;
    padding: 10px;
    /* text-align: left; */
    border-radius: 12px;
    /* background-image: url(../images/bg-notice-nner.png);
    background-size: cover;
    background-position: top center;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 90%); */
}


/* .detail-item-creator::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    box-shadow: inset 0 0 5px rgb(255 255 255 / 40%);
    border-radius: 8px;
} */

.detail-item-creator span,
.detail-item-creator strong {
    display: block;
}

.detail-item-creator span {
    font-size: 9px;
    text-transform: uppercase;
    opacity: .8;
}

.detail-item-creator strong,
.detail-item-creator strong a {
    font-size: 13px;
    color: #dab507;
    text-decoration: none;
}

.detail-table {
    font-size: 13px;
    color: #fff;
}

.detail-table thead th {
    font-size: 9px;
    text-transform: uppercase;
    opacity: .8;
    font-weight: normal;
    width: calc(100% / 3);
    max-width: calc(100% / 3);
}

.detail-table thead tr th {
    border-bottom-color: rgba(255, 255, 255, .3) !important;
}

.detail-table tbody tr td {
    border-color: rgba(255, 255, 255, .1);
    border-style: dashed;
}

.detail-table tbody tr:last-child td {
    border-color: transparent;
}

.detail-table thead tr th:first-child,
.detail-table tbody tr td:first-child {
    padding-left: 0;
}

.detail-table thead tr th:last-child,
.detail-table tbody tr td:last-child {
    padding-right: 0;
}

.detail-table tbody tr td a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.td-main-value a,
.td-main-value,
.td-sub-value {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.td-main-value {
    font-weight: 500;
}

.detail-table tbody tr td:last-child .td-main-value {
    color: #dab507;
}

.td-sub-value {
    font-size: 11px;
    opacity: .5;
    font-weight: 300;
}

@media(max-width:1200px) {
    .detail-card-ttt {
        margin-right: 0;
        padding-left: 0;
    }
    .detail-card-ttt .detail-info-title {
        margin-bottom: 20px !important;
    }
    .detail-card-ttt .detail-card-body {
        display: flex;
        column-gap: 30px;
    }
    .detail-card-ttt .detail-card-body .detail-info-block {
        width: calc(100% / 3);
        margin-bottom: 0;
    }
    .detail-card-ttt .detail-info-content h5 {
        padding-right: 30px;
    }
}

@media(max-width:992px) {
    .btn-back {
        top: -10px !important;
        z-index: 9;
    }
    .detail-card-ttt .detail-info-content h5 {
        padding-right: 0px;
    }
}

@media(max-width:767px) {
    .btn-back {
        top: 5px !important;
        left: 0 !important;
    }
    .detail-card-ttt .detail-card-body {
        display: block;
        column-gap: 30px;
    }
    .detail-card-ttt .detail-card-body .detail-info-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .detail-item-creator {
        bottom: 15%;
        text-align: right;
        padding: 0;
        z-index: 2;
    }
    .detail-item-center>img {
        max-height: 300px !important;
    }
    .detail-item-center {
        padding-top: 0 !important;
    }
    .detail-item-qg,
    .detail-item-cm,
    .detail-item-lc {
        transform-origin: top left;
        transform: scale(.8);
    }
    .detail-item-qg {
        top: 20%;
    }
    .detail-item-cm {
        top: calc(20% + 55px);
    }
    .detail-item-lc {
        top: calc(20% + 90px);
    }
    .detail-item-slide-controls {
        bottom: 0;
        top: auto;
        padding-bottom: 0;
    }
}