html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Rajdhani, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #cacaca;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden!important;
    background-color: #1D0E23;
    background-image: url(/images/bg.jpg);
    /* background-attachment: fixed; */
    background-size: 100% auto;
    background-position: center bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.tq_btn {
    position: relative;
    width: auto;
    margin: 0;
    font-family: Rajdhani, sans-serif;
    font-size: 17px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    outline: 0;
    box-sizing: border-box;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
    padding: 10px 65px;
    cursor: pointer;
    border: 2px solid #6b54b6;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.tq_btn_text {
    position: relative;
    z-index: 2;
}

.tq_btn_hover {
    background-color: #6b54b6;
    position: absolute;
    display: block;
    top: 104%;
    left: -114%;
    width: 150%;
    height: 600%;
    z-index: 1;
    transform: rotate( 45deg) translate3d(0, 0, 0);
    transition: .5s cubic-bezier(.24, .69, .12, .9);
    pointer-events: none;
}

.tq_btn:hover .tq_btn_hover {
    transition: .5s cubic-bezier(.1, .48, .25, .86);
    transform: rotate( 45deg) translate3d(0, -85%, 0);
}

.tq_btn_outline {
    background-color: transparent!important;
    border: 2px solid #6b54b6;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

.tq_btn_outline::before,
.tq_btn_outline::after {
    content: "";
    position: absolute;
    background-color: #6b54b6;
    width: 60px;
    height: 2px;
    transform: rotate( 45deg);
}

.tq_btn_outline::before {
    top: 0;
    right: -14px;
}

.tq_btn_outline::after {
    bottom: 0;
    left: -14px;
}


/* Button outline primary */

.tq_btn_outline_primary {
    color: #fff!important;
    border-color: #6b54b6!important;
}

.tq_btn_outline_primary:hover {
    background-color: #6b54b6!important;
}


/* Button outline danger */

.tq_btn_outline_danger,
.tq_btn_danger {
    color: #fff!important;
    border-color: #ff3549!important;
}

.tq_btn_outline_danger:hover,
.tq_btn_danger {
    background-color: #ff3549!important;
}

.tq_btn_outline_danger::before,
.tq_btn_outline_danger::after,
.tq_btn_danger::before,
.tq_btn_danger::after {
    background-color: #ff3549;
}

.tq_btn_outline_danger .tq_btn_hover {
    background-color: #ff3549;
}

.tq_btn_danger .tq_btn_hover {
    background-color: #af2331;
}


/* Button play */

.tq_btn_play {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tq_btn_play span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    color: #ff3549 !important;
}

.tq_btn_play .fas {
    font-size: 16px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ff3549;
    border: 1px #ff3549 solid;
    transition: all ease-in-out .3s;
    transform-origin: center center;
    line-height: 1;
    position: relative;
}

.tq_btn_play .fas::after {
    position: absolute;
    content: "";
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border-radius: 50%;
    border: 1px solid #ff3549;
    animation: playbutton 1s infinite;
}

.tq_btn_play:hover .fas {
    transform: scale(1.1);
}


/* Form control */

.form-control {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    padding: 24px 33px;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    font-weight: inherit;
    line-height: calc(63px - (48px - 2px));
    color: #fff !important;
    background-color: #22152c !important;
    border: none;
    border-radius: 0 !important;
    outline: 0;
    cursor: text;
    box-sizing: border-box;
    transition: border-color .2s ease-in-out;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    outline: none !important;
    box-shadow: none !important;
    position: relative;
}

.form-control {
    background-color: #21144870 !important;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, .4);
}

.form-group {
    position: relative;
}

.form-control-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #6b54b6;
    transition: all ease-in-out .2s;
}

.form-control:focus+.form-control-border {
    width: 100%;
}

.accordion-body {
    background-color: #22152c;
    font-size: 18px;
}

.accordion-body {
    background-color: #21144850 !important;
}

.fs-18 {
    font-size: 18px;
}


/* Modal */

.modal-backdrop.show {
    opacity: .8;
}

.tq_modal .modal-content {
    background-color: transparent;
    border: 0;
}

.tq_modal .modal-header {
    padding: 10px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: -1.5px -1.5px 0 #482f05, 1.5px -1.5px 0 #482f05, -1.5px 1.5px 0 #482f05, 1.5px 1.5px 0 #482f05;
    background-image: url(/images/header-top-title-bg.png);
    background-size: auto 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -2px;
    border: 0;
    justify-content: center;
}

.tq_modal .modal-body {
    padding: 40px;
    border: 2px #6b54b6 solid;
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 0 24px rgb(0 0 0 / 20%);
    background-color: #21144870;
    position: relative;
    min-height: 50vh;
    color: #d2d2d2;
    font-weight: 500;
    line-height: 1.8;
}

.tq_modal .modal-body>img {
    position: absolute;
    top: -24%;
    left: -48%;
    max-height: 60vh;
}

.no-after::after {
    display: none !important;
}

@keyframes playbutton {
    0% {
        transform: scale(.75);
        opacity: 1
    }
    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@media(max-width:1024px) {
    .tq_modal .modal-body>img {
        display: none;
    }
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #6b54b6;
    outline: 1px solid slategrey;
}